.weather-card {
  height: 80px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  margin: 28px 0 40px;
}

.weather-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.weather-card__temp {
  color: white;
  font-family: Cabinet Grotesk, Arial, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  position: absolute;
  margin: 0;
  bottom: 20px;
  left: 16px;
}
