.modal__cancel-btn {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-top: 24px;
}

.modal__delete-btn {
  color: rgba(255, 77, 0, 1);
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-top: 40px;
}
