.main {
  margin: 0;
  padding: 0;
}

.main__text {
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 34px;
}

.main__itemcard-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
