.header {
  display: flex;
  max-width: 1360px;
  align-self: center;
  align-items: flex-end;
  justify-content: space-between;
}

.header_side_left {
  display: flex;
}

.header_side_right {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
}

.header__date {
  padding: 0;
  margin: 11px 0 5px;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__add-clothes-btn {
  margin: 0 0 0 20px;
  padding: 0;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__add-clothes-btn:hover {
  transform: scale(1.03);
}

.header__username {
  margin: 0 0 0 20px;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__avatar {
  margin-left: 12px;
}

.header__link {
  display: flex;
  text-decoration: none;
  color: black;
  align-items: center;
}
