.header {
  display: flex;
  max-width: 1360px;
  align-self: center;
  align-items: flex-end;
}
.header__logo {
  margin-right: 24px;
}

.header__date {
  padding: 0;
  margin: 11px 0 5px;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.header__add-clothes-btn {
  margin: 0 0 10px auto;
  padding: 0;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background-color: transparent;
}
.header__username {
  margin: 0 0 10px 20px;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.header__avatar {
  margin-left: 88px;
}
