.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
  padding: 0;
}
.footer__developer {
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.footer__year {
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
