.modal {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  padding: 0 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  background-color: #fff;
  padding-bottom: 32px;
}

.modal__text {
  margin: 12px 0 0 32px;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__container_type_form {
  padding: 28px 28px 36px;
  max-width: 440px;
  width: 100%;
}

.modal__image {
  display: block;
  max-width: 498px;
  max-height: 498px;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.modal__title {
  margin: 0 0 24px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 16px;
  width: 16px;
  background-image: url(../../assets/close-btn-light.svg);
  border: none;
  background-color: transparent;
}

.modal__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.modal__label {
  margin-bottom: 24px;
}

.modal__input {
  display: block;
  margin-top: 8px;
  margin-bottom: 4px;
  max-width: 440px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 0;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.modal__submit-btn {
  margin-top: 32px;
  background-color: rgba(0, 0, 0, 1);
  padding: 8px 16px;
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border: none;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__submit-btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__save-btn_inactive {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__radio-input {
  margin-top: 8px;
  margin-right: 8px;
}

.modal__radio-input:first-child {
  margin-top: 12px;
}
.modal__close-btn_type_form {
  background-image: url(../../assets/close-btn.svg);
  top: 20px;
  right: 28px;
}
