.clothes-section {
  margin-top: 63px;
}

.clothes-section__header {
  display: flex;
  gap: 20x;
}

.clothes-section__title {
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}

.clothes-section__add-btn {
  border: none;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
  background-color: transparent;
}

.clothes-section__itemcard-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
